<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="client/layout :: head"></head>

<!-- Custom style -->
<link href="../../../static/css/client/advisory.css" th:href="@{/css/client/advisory.css}" rel="stylesheet"/>
<script type="text/javascript" th:src="@{/js/chart.min.js}"></script>

<!--Goi cac thu vien js can dung o day: /js/client/...-->


<body>
<div th:replace="client/layout :: user_taskbar"></div>

<nav th:replace="client/layout :: header"></nav>

<div class="container main-content">
    <div class="row">
        <div id="body_wrapper">`

            <div class="box_path">
                <ul>
                    <li>
                        <a rel="nofollow" href="http://diemthi.tuyensinh247.com"> <span>Trang chủ</span></a>
                    </li>
                    >>
                    <li>
                        <a title="Tư vấn chọn trường" href="/tu-van-chon-truong.html">
                            <span>Tư vấn chọn trường</span>
                        </a>
                    </li>
                    >>
                    <li>
                        <a title=" Xem phổ điểm thi">
                            <span> Xem phổ điểm thi</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div th:replace="client/layout :: left_sidebar"></div>

            <div class="col-xs-12 col-md-8 col-lg-9 col_right">
                <div class="top_content">
                    Phổ điểm thi THPT quốc gia năm 2017
                </div>

                <canvas id="markDist" width="1000" height="500"></canvas>
                <!--
                Ong co the code o day
                -->

            </div>

        </div>
    </div>
</div><!-- /.container -->

<footer th:replace="client/layout :: footer"></footer>
</body>
<script>

/*<![CDATA[*/


    id = 1;
    // Call data
    $.ajax({
        type: 'GET',
        cache: false,
        async: true,
        url: '/rest/chart?id=' + id,
        dataType: 'json',
        success: function (data) {
            console.log(data[0]);
            var labelS = data[0].labelList;
            var dataS = data[0].valueList;


            for (var i = 0; i < dataS.length; i++) {
                labelS[i] =  " < "  + labelS[i].substring(4);
                dataS[i] = dataS[i] * 100;
            }

            var parent = $("#markDist").parent();
            $("#markDist").remove();
            parent.append('<canvas id="markDist" width="1000" height="500"><canvas>');
            new Chart($("#markDist"), {
                data: {
                    datasets: [{
                                data: dataS,
                                label: 'Tỉ lệ thí sinh đạt điểm',
                                backgroundColor:
                                    "#36A2EB"
                            }],
                    labels: labelS
                },
                type: 'bar',
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                }
            });
        },
        error: function (xhr, status, error) {
            console.log(xhr);
        }
    });

 /*]]>*/

</script>
</html>