<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Tuyen Sinh Dai Hoc</title>

    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
            rel="stylesheet" />
    <!-- Custom style -->
    <link href="../../static/css/client/global_style.css" th:href="@{/css/client/global_style.css}" rel="stylesheet" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div th:fragment="user_taskbar" id="user_taskbar" >
    <ul class="list_task">
        <li class="inline">
            <a href="http://tuyensinh247.com">Học trực tuyến -Tuyensinh247.com</a>
        </li>
        <li class="inline">
            <a href="http://diemthi.tuyensinh247.com" >Xem điểm thi</a>
        </li>
    </ul>
</div>

<nav th:fragment="header" class="navbar" id="navbar_header">
    <div class="container">
        <div class="navbar_content">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div id="nav_left" class="col-xs-5 col-md-4 col-lg-3">
                <img th:src="@{/img/logo_page.png}" alt="" />
            </div>

            <div id="nav_right" class="col-xs-7 col-md-offset-2 col-md-6 col-lg-offset-3 col-lg-6">
                <ul>
                    <li><a href="">Điểm chuẩn đại học</a></li>
                    <li><a href="">Tư vấn chọn trường</a></li>
                    <li><a href="">Tư vấn chọn ngành</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div id="header" class="bottom10">
    <div class="bg_header">
        <div class="main clearfix">
            <div class="clearfix fl relative">
                <div class="logo" style="padding-top: 0px"><a href="http://diemthi.tuyensinh247.com"
                                                              title="Trang chủ Điểm thi Tuyensinh247.com"><span></span></a>
                </div>
            </div>
            <div class="header_dk fl">
                <div class="portlet" id="yw4">
                    <div class="portlet-content">

                        <div id="menu-navi">
                            <div class="mainlevel clearfix" style="width: 825px;">
                                <ul class="item-main fr clearfix" id="list_menu">
                                    <li rel="0">
                                        <h2><a rel="nofollow" title="Trang chủ"
                                               href="http://diemthi.tuyensinh247.com"
                                               class="active ic_home"><span><strong>&nbsp;</strong></span></a>
                                        </h2>
                                    </li>
                                    <li rel="23"><h2><a title="Điểm chuẩn đại học"
                                                        href="/diem-chuan.html"><span><strong>Điểm chuẩn đại học</strong></span></a>
                                    </h2></li>
                                    <li rel="36"><h2><a title="Tư vấn chọn trường"
                                                        href="/tu-van-chon-truong.html"
                                                        class="active"><span><strong>Tư vấn chọn trường</strong></span></a>
                                    </h2></li>
                                    <li rel="52"><h2><a title="Điểm chuẩn lớp 10"
                                                        href="/dc-lop10.html"><span><strong>Điểm chuẩn lớp 10</strong></span></a>
                                    </h2></li>
                                    <li rel="44"><h2><a title="Điểm thi THPT quốc gia 2017"
                                                        href="/diem-thi-tot-nghiep-thpt.html"><span><strong>Điểm thi THPT quốc gia 2017</strong></span></a>
                                    </h2></li>
                                    <li class="last relative" id="list_sub_menu">
                                        <h2><a href="javascript:" rel="nofollow"><span><strong
                                                class="ic_arr-bt">Xem thêm</strong></span></a></h2>
                                        <ul class="absolute list_style sub-menu">
                                            <li rel="43"><a title="Điểm thi vào lớp 10 2017"
                                                            href="/diem-thi-vao-lop-10.html">Điểm thi vào
                                                lớp 10 2017</a></li>
                                            <li rel="40"><a title="Thông tin trường ĐH-CĐ" rel="nofollow"
                                                            target="_blank"
                                                            href="http://diemthi.tuyensinh247.com/danh-sach-truong-dai-hoc-cao-dang.html">Thông
                                                tin trường ĐH-CĐ</a></li>
                                            <li rel="50"><a title="Đề thi thử THPT Quốc Gia 2017"
                                                            rel="nofollow" target="_blank"
                                                            href="http://tuyensinh247.com/khoa-599-de-thi-thu-thpt-qg-2017-cua-cac-truong-top-dau-tren-toan-quoc-co-loi-giai-chi-tiet-r204.html">Đề
                                                thi thử THPT Quốc Gia 2017</a></li>
                                            <li rel="26"><a title="Điểm nguyện vọng 2"
                                                            href="/diem-nguyen-vong-2.html">Điểm nguyện vọng
                                                2</a></li>
                                            <li rel="22"><a title="Điểm thi đại học"
                                                            href="/diem-thi-dai-hoc.html">Điểm thi đại
                                                học</a></li>
                                            <li rel="42"><a title="Điểm thi Cao Đẳng"
                                                            href="/diem-thi-cao-dang.html">Điểm thi Cao
                                                Đẳng</a></li>
                                            <li rel="45"><a title="Điểm nguyện vọng 3"
                                                            href="/diem-nguyen-vong-3.html">Điểm nguyện vọng
                                                3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:fragment="footer">
    &copy; Copyright KSTN-CNTT-K58 (TA-H-Kh-Th) - Đại học Bách khoa Hà Nội
</footer>
</body>
</html>