<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="client/layout :: head"></head>

<!-- Custom style -->
<link href="../../../static/css/client/advisory.css" th:href="@{/css/client/advisory.css}" rel="stylesheet"/>

<body>
<div th:replace="client/layout :: user_taskbar"></div>

<nav th:replace="client/layout :: header"></nav>

<div class="container main-content">
    <div class="row">
        <div id="body_wrapper">

            <div class="box_path">
                <ul>
                    <li>
                        <a rel="nofollow" href="http://diemthi.tuyensinh247.com"> <span>Trang chủ</span></a>
                    </li>
                    >>
                    <li>
                        <a title="Tư vấn chọn trường" href="/tu-van-chon-truong.html">
                            <span>Tư vấn chọn trường</span>
                        </a>
                    </li>
                    >>
                    <li>
                        <a title=" Nhóm ngành Tài chính - Ngân hàng- Bảo hiểm">
                            <span>Nhóm ngành Tài chính - Ngân hàng- Bảo hiểm</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-3 col_left">
                <div class="portlet">
                    <div class="portlet-content">
                        <div class="title-blue">
                            <span><strong>Đồng hành cùng bạn</strong></span>
                        </div>
                        <ul class="menu-left">
                            <li class="nobor"><span><a title="Điểm chuẩn đại học"
                                                       href="/diem-chuan.html">Điểm chuẩn đại học</a></span>
                            </li>
                            <li class="nobor"><span><a rel="nofollow" target="_blank"
                                                       title="Thông tin trường ĐH-CĐ"
                                                       href="http://diemthi.tuyensinh247.com/danh-sach-truong-dai-hoc-cao-dang.html">Thông tin trường ĐH-CĐ</a></span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="portlet">
                    <div class="portlet-content">
                        <ul class="list_style">
                            <li class="nobor" rel="25"><span><a rel="nofollow" target="_blank"
                                                                title="Đề thi thử THPT Quốc Gia 2017"
                                                                href="http://tuyensinh247.com/khoa-599-de-thi-thu-thpt-qg-2017-cua-cac-truong-top-dau-tren-toan-quoc-co-loi-giai-chi-tiet-r204.html">Đề thi thử THPT Quốc Gia 2017</a></span>
                            </li>
                            <li class="nobor" rel="25"><span><a rel="nofollow" target="_blank"
                                                                title="Video bài giảng hay"
                                                                href="http://tuyensinh247.com/">Video bài giảng hay</a></span>
                            </li>
                            <li class="nobor" rel="25"><span><a title="Điểm thi THPT quốc gia 2017"
                                                                href="/diem-thi-tot-nghiep-thpt.html">Điểm thi THPT quốc gia 2017</a></span>
                            </li>
                            <li class="nobor" rel="25"><span><a title="Điểm thi đại học"
                                                                href="/diem-thi-dai-hoc.html">Điểm thi đại học</a></span>
                            </li>
                            <li class="nobor" rel="25"><span><a title="Điểm chuẩn đại học"
                                                                href="/diem-chuan.html">Điểm chuẩn đại học</a></span>
                            </li>
                            <li class="nobor" rel="25"><span><a title="Điểm nguyện vọng 2"
                                                                href="/diem-nguyen-vong-2.html">Điểm nguyện vọng 2</a></span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="portlet">
                    <div class="portlet-content">
                        <div class="col-left">
                            <div class="box bottom10">
                                <div class="title-blue">
                                    <span><strong>Đang được quan tâm nhất</strong></span>
                                </div>
                                <ul class="menu-left">
                                    <li>
                <span>
                    <a title="Phương án tuyến sinh 2017" target="_blank"
                       href="http://tin.tuyensinh247.com/thi-dai-hoc-va-thi-thpt-quoc-gia-2017-e543.html">Phương án tuyến sinh 2017</a>
                </span>
                                    </li>
                                    <li>
                <span>
                    <a title="Tư vẫn chọn trường ĐH, CĐ 2017" href="/tu-van-chon-truong.html">Tư vẫn chọn trường ĐH, CĐ 2017</a>
                </span>
                                    </li>
                                    <li>
                <span>
                    <a title="Điểm chuẩn Đại học 2017" href="http://diemthi.tuyensinh247.com/diem-chuan.html">Điểm chuẩn Đại học 2017</a>
                </span>
                                    </li>
                                    <li>
                <span>
                    <a title="Điểm thi THPT Quốc gia 2017"
                       href="http://diemthi.tuyensinh247.com/diem-thi-tot-nghiep-thpt.html">Điểm thi THPT Quốc gia 2017</a>
                </span>
                                    </li>
                                    <li class="nobor">
                <span>
                    <a title="Điểm thi lớp 10 2017" href="http://diemthi.tuyensinh247.com/diem-thi-vao-lop-10.html">Điểm thi lớp 10 2017</a>
                </span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-xs-12 col-md-8 col-lg-9 col_right">
                <div class="top_content">
                    Tư vấn chọn trường đại học, cao đẳng năm 2017
                </div>

                <div class="main_content">
                    <div class="title_section">
                        Lựa Chọn Và Điền Các Tham Số
                    </div>
                    <div class="explain_section">
                        Tư vấn chọn trường đại học, cao đẳng 2017 bằng cách chọn độ ưu tiên, chọn nhóm nghành và nhập số điểm bạn có thể đạt được trong kỳ
                        thi THPTQG, ĐH- CĐ 2017.
                    </div>

                    <div id="form_input">

                        <form class="form-horizontal" th:action="@{/advisory/select-major/save}" th:object="${advisory}" method="POST" novalidate="novalidate">
                            <input type="hidden" th:field="*{id}"/>

                            <div class="form-group">
                                <label class="control-label col-sm-5" for="mainGroup">Chọn nhóm ngành* : </label>
                                <div class="col-sm-7">
                                    <select class="form-control" th:field="*{mainGroup}" id="mainGroup">
                                        <option th:each="group : ${allMainGroup}"
                                                th:value="${group.id}"
                                                th:text="${group.displayName}"
                                                th:selected="(${group.id} == *{mainGroup})">
                                        </option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-sm-5" for="examBlock">Chọn khối thi* : </label>
                                <div class="col-sm-7">
                                    <select class="form-control" th:field="*{examBlock}" id="examBlock">
                                        <option th:each="exam : ${allExamBlock}"
                                                th:value="${exam.id}"
                                                th:text="${exam.displayName}"
                                                th:selected="(${exam.id} == *{examBlock})">
                                        </option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-sm-5" for="levelUniversity">Chọn cấp độ trường (Đại học / Cao đẳng)* : </label>
                                <div class="col-sm-7">
                                    <select class="form-control" th:field="*{levelUniversity}" id="levelUniversity">
                                        <option th:each="uni : ${allLevelUniversity}"
                                                th:value="${uni.id}"
                                                th:text="${uni.displayName}"
                                                th:selected="(${uni.id} == *{levelUniversity})">
                                        </option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-sm-5" for="priority">Chọn độ ưu tiên* : </label>
                                <div class="col-sm-7">
                                    <select class="form-control" th:field="*{priority}" id="priority">
                                        <option th:each="pri : ${allPriority}"
                                                th:value="${pri.id}"
                                                th:text="${pri.displayName}"
                                                th:selected="(${pri.id} == *{priority})">
                                        </option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-sm-5" for="sumScore">Nhập tổng điểm của bạn* : </label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" th:field="*{sumScore}" id="sumScore" placeholder="Nhập vào tổng điểm thi." />
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-sm-5" for="city">Chọn tỉnh thành phố : </label>
                                <div class="col-sm-7">
                                    <select class="form-control" th:field="*{city}" id="city">
                                        <option th:each="cit : ${allCity}"
                                                th:value="${cit.id}"
                                                th:text="${cit.displayName}"
                                                th:selected="(${cit.id} == *{city})">
                                        </option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-sm-5" for="typeUniversity">Chọn Công lập / Dân lập : </label>
                                <div class="col-sm-7">
                                    <select class="form-control" th:field="*{typeUniversity}" id="typeUniversity">
                                        <option th:each="typeUni : ${allTypeUniversity}"
                                                th:value="${typeUni.id}"
                                                th:text="${typeUni.displayName}"
                                                th:selected="(${typeUni.id} == *{typeUniversity})">
                                        </option>
                                    </select>
                                </div>
                            </div>


                            <div class="btn_submit">
                                <button type="submit" class="btn btn-warning">Tìm Trường</button>
                            </div>
                        </form>

                    </div>
                </div>

                <div class="bottom_content" align="center">
                    Tư vấn chọn trường đại học cao đẳng, chọn ngành học theo khối thi: A,A1,B,C,D...bằng cách nhập
                    số điểm bạn có thể đạt được và khối thi bạn dự thi. KSTN CNTT Group chúc bạn lựa chọn được trường như ý.
                </div>
            </div>

        </div>
    </div>
</div><!-- /.container -->

<footer th:replace="client/layout :: footer"></footer>
</body>
</html>