<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="client/layout :: head"></head>

<!-- Custom style -->
<link href="../../../static/css/client/advisory.css" th:href="@{/css/client/advisory.css}" rel="stylesheet"/>

<body>
<div th:replace="client/layout :: user_taskbar"></div>

<nav th:replace="client/layout :: header"></nav>

<div class="container main-content">
    <div class="row">
        <div id="body_wrapper">

            <div class="box_path">
                <ul>
                    <li>
                        <a rel="nofollow" href="http://diemthi.tuyensinh247.com"> <span>Trang chủ</span></a>
                    </li>
                    >>
                    <li>
                        <a title="Tư vấn chọn trường" href="/tu-van-chon-truong.html">
                            <span>Hệ trợ giúp quyết định chọn trường.</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div th:replace="client/layout :: left_sidebar"></div>

            <div class="col-xs-12 col-md-8 col-lg-9 col_right">
                <div class="top_content">
                    Tư vấn chọn trường đại học, cao đẳng năm 2017
                </div>

                <div class="main_content">
                    <div class="title_section">
                        Lựa Chọn Và Điền Các Tham Số
                    </div>
                    <div class="explain_section">
                        Tư vấn chọn trường đại học, cao đẳng 2017 bằng cách chọn độ ưu tiên, chọn nhóm nghành và nhập số điểm bạn có thể đạt được trong kỳ
                        thi THPTQG, ĐH- CĐ 2017.
                    </div>

                    <div id="form_input">

                        <form class="form-horizontal" th:action="@{/advisory/select-major/save}" th:object="${userInputData}" method="POST" novalidate="novalidate">
                            <input type="hidden" th:field="*{id}"/>

                            <div class="form-group">
                                <label class="control-label col-sm-5" for="branchName">Chọn ngành* : </label>
                                <div class="col-sm-7">
                                    <select class="form-control" th:field="*{branchName}" id="branchName">
                                        <option th:each="branch : ${branchList}"
                                                th:value="${branch}"
                                                th:text="${branch}"
                                                th:selected="(${branch} == *{branchName})">
                                        </option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-sm-5" for="univLevel">Chọn loại trường* : </label>
                                <div class="col-sm-7">
                                    <select class="form-control" th:field="*{univLevel}" id="univLevel">
                                        <option th:each="level : ${univLevelList}"
                                                th:value="${level}"
                                                th:text="${level}"
                                                th:selected="(${level} == *{univLevel})">
                                        </option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-sm-5">Nhập điểm các môn thi THPT Quốc Gia* : </label>
                                <div class="col-sm-7">
                                    <div class="col-sm-12 score_input_class" th:each="currentSubject, stat : ${userInputData.subjectScoreVOList}">
                                        <div class="col-sm-6">
                                            <input type="hidden" th:field="*{subjectScoreVOList[__${stat.index}__].id}" />
                                            <select class="form-control" th:field="*{subjectScoreVOList[__${stat.index}__].subName}">
                                                <option th:each="subj : ${subjectList}"
                                                        th:value="${subj}"
                                                        th:text="${subj}"
                                                        th:selected="(${subj} == *{subjectScoreVOList[__${stat.index}__].subName})">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="control-label col-sm-6"> Điểm*: </label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" placeholder="8.42" th:field="*{subjectScoreVOList[__${stat.index}__].subScore}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group col-xs-6">
                                <label class="control-label col-sm-6" style="padding-left: 0!important;" for="priorityScore">Điểm ưu tiên đối tượng  : </label>
                                <div class="col-sm-3">
                                    <select class="form-control" th:field="*{priorityScore}" id="priorityScore">
                                        <option th:each="pscore : ${priorityScoreList}"
                                                th:value="${pscore}"
                                                th:text="${pscore}"
                                                th:selected="(${pscore} == *{priorityScore})">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-xs-6">
                                <label class="control-label col-sm-6" for="regionScore">Điểm ưu tiên khu vực : </label>
                                <div class="col-sm-3">
                                    <select class="form-control" th:field="*{regionScore}" id="regionScore">
                                        <option th:each="rscore : ${regionScoreList}"
                                                th:value="${rscore}"
                                                th:text="${rscore}"
                                                th:selected="(${rscore} == *{regionScore})">
                                        </option>
                                    </select>
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="control-label col-sm-5" for="univRegion">Chọn tỉnh thành phố : </label>
                                <div class="col-sm-7">
                                    <select class="form-control" th:field="*{univRegion}" id="univRegion">
                                        <option th:each="city : ${geographicList}"
                                                th:value="${city}"
                                                th:text="${city}"
                                                th:selected="(${city} == *{univRegion})">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="btn_submit">
                                <button type="submit" class="btn btn-warning">Tìm Trường</button>
                            </div>
                        </form>

                    </div>
                </div>

                <div class="bottom_content" align="center">
                    Tư vấn chọn trường đại học cao đẳng, chọn ngành học theo khối thi: A,A1,B,C,D...bằng cách nhập
                    số điểm bạn có thể đạt được và khối thi bạn dự thi. KSTN CNTT Group chúc bạn lựa chọn được trường như ý.
                </div>
            </div>

        </div>
    </div>
</div><!-- /.container -->

<footer th:replace="client/layout :: footer"></footer>
</body>
</html>